<header>
  <div class="menu_div">
    <a href=""><img class="logo_img" src="https://cdn-icons-png.flaticon.com/512/261/261778.png" alt="none"></a>
    <a class="menu_text" href="">Каплун Максим Олегович</a>
    <a class="menu_text" href=""></a>
  </div>
</header>
